<h1> <%= @restaurant.name %> </h1>
<p>We are located at <%= @restaurant.address %></p>

<p>Restaurant created at <%= @restaurant.created_at %></p>
<p>Restaurant updated at <%= @restaurant.updated_at %></p>

<a href="/">Back to Home</a>
